*{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.header{
    grid-column: 2/3;
}



.sidebar{
    display: grid;
    grid-column: 1/2;
    background-color: rgb(53, 103, 180);
    
}

.sidebar div{
    
    
    
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.projects{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border-left-width and border-left-color */
}

.announcements{
    display: grid;
    grid-column: 2/3;
}