*{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
}

.header{
    padding: 18px;
    grid-column: 2/3;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(92, 110, 135)
}

.header-symbol img{
    height: auto;
    width: 200px;
}

.sidebar{
    padding: 4px;
    font-size: 24px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-row: 1/-1;
    grid-column: 1/2;
    background-color: rgb(53, 103, 180);
}

.sidebar a{
    text-decoration: none;
    color: black;
}

.dash-top{
    margin-top: 12px;
    font-size: 28px;
    font-weight: 700;
}

.dash-mid, .dash-bott{
    display: grid; 
}

.dash-mid{
    padding: 14px;
}

.dash-bott{
    margin-top: 16px;
    padding: 8px;
    font-style: italic;
}



.main{
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.projects{
    
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 8fr;
    /* border-left-width and border-left-color, border-radius */
}

.project-container{
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
}

.announcements{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-column: 2/3;
}

.announcement-container{
    gap: 16px;
    grid-row: 2/3;
    display: grid;
}

.card{
    text-align: center;
    background-color: grey;
}