*{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
}

.header{
    background-color:rgb(143, 186, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div{
    padding: 4px;
}

.header-left, .header-right{
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    margin-left: 6px;
}

.header-right{
    align-items: end;
}
.header-symbol{
    margin-top: 8px;
}


.header-message{
    font-size: 24px;
    margin-top: 60px;
}

.header-buttons{
    margin: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    
}
.header-buttons button{
    padding: 2px;
    border-radius: 5px;
    width: 75px;
    background-color: rgb(53, 103, 180);
    font-weight: 700;
    font-size: 16px;
}


/* .header{
    padding: 18px;
    grid-column: 2/3;
    display: grid;
    justify-content: space-between;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(92, 110, 135)
} */

.header-symbol img{
    height: auto;
    width: 200px;
}

.header .search img{
    height: auto;
    width: 12px;
}

.sidebar{
    padding: 4px;
    font-size: 24px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-row: 1/-1;
    grid-column: 1/2;
    background-color: rgb(53, 103, 180);
}

.sidebar a{
    text-decoration: none;
    color: black;
}

.dash-top{
    margin-top: 12px;
    font-size: 28px;
    font-weight: 700;
}

.dash-mid, .dash-bott{
    display: grid; 
}

.dash-mid{
    padding: 14px;
}

.dash-bott{
    margin-top: 16px;
    padding: 8px;
    font-style: italic;
}



.main{
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.projects{
    
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 8fr;
    /* border-left-width and border-left-color, border-radius */
}

.project-container{
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
}

.announcements{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-column: 2/3;
}

.announcement-container{
    gap: 16px;
    grid-row: 2/3;
    display: grid;
}

.card{
    text-align: center;
    background-color: grey;
}